.stars-rating{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8%;
    @media only screen and (max-width: 775px) {
        justify-content: flex-start;
        margin-top: 40px;
      }
    img{
        width: 24px;
        @media only screen and (max-width: 775px) {
            width: 14px;
          }
    }
}