@import '../../pages/styles/variables.scss';
 .error{

    margin: 13px auto;
    h1{
        color:$red;
        font-size: 288px;
        font-weight: 700;
        margin: 50px auto;
    }
    p{
        color:$red;
        font-size: 36px;
        margin:30px auto;
    }
    a{
        display: block;
        margin: 60px auto;
        color:$red;
    }
    // .back-home{

    // }
}