.nav-header {
  display: flex;
  width: 90%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.kasa-logo {
  width: 210px;
  @media only screen and (max-width: 775px) {
    width: 145px;
  }
}
.navigation-menu {
  ul {
    display: flex;
    list-style: none;

    a {
      color: #ff6060;
      text-decoration: none;
      font-size: 24px;
      margin: 30px;

      font-family: "Monserrat", sans-serif;
      font-weight: 500;

      text-decoration: none;
      font-size: 24px;
        @media only screen and (max-width: 775px) {
            font-size: 12px;
            margin: 6px;
        }

        &:hover,
        &.active,
        &:active {
            text-decoration: underline;
        }
    }
  }
}
