.slider{

    height: 415px;
    max-width: 1240px;
    margin: 50px auto;
    position: relative;
&_img{
    height: 415px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;
}

.next-slide,
.back-slide{
        position: absolute;
        top:40%;
        filter: drop-shadow(0 1px 11px rgb(144, 144, 144));
    }
.next-slide{
        right:10px;
    }
    .back-slide{
        left: 10px;
    }
}